@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  background-color: #808080;  
}


h1 {
  background-color: #808080;
}
form {
  background-color: #808080
}
input {
  background-color: #808080;
}
.link{
  color: white;
  font-size: 25px;
  transition: all 0.75s;
}
.link:hover{
  color: rgb(48, 47, 47);
}

.link-menu{
  color: black;
  font-size: 25px;
  transition: all 0.25s;
}

.link-menu:hover{
  color: rgb(75, 74, 74);
}

.FormCandidats{
  margin-top: -80px;
  margin-left: -80px;
  padding: 120px;
  transition: all 0.25s;
}

.FormCandidats:hover{
  color: white;
 }

.divform{
  zoom: 75%;
}


.recrutementText{
  font-size: 25px;
  font-family: Poppins;
  transition: all 0.5s;
}

.recrutementText:hover{
  color:rgb(206, 47, 47);
}

.results{
  margin: 5px;
  font-size: 25px;
  font-family: Poppins;
  transition: all 0.4s;
}

.results:hover{
  color: white;
}

.form{
  font-size: 30px;
  font-family: Poppins;
  margin: 10px;
  transition: all 0.5s;
}

.form:hover{
  color: #fff;
}

.submit_btn{
  width: 140px;
  height: 50px;
  font-size: 25px;
  font-family: Poppins;
  margin: 15px;
  border-radius: 20px;
  transition: all 0.5s;
  background-color:#ededed;
}

.submit_btn:hover{
  color: white;
  background-color: black;
}

.submit_btn:active{
  color: white;
  background-color: green;
}

input{
  border-radius: 20px;
  background-color: white;
  transition: all 0.5s;
}

input:hover{
  background-color: rgb(203, 199, 199);
}

.navbar{
  background:white;
  border: #f1f1f1;
  display: flex;
  align-items: center;
  align-content: space-between; 
}